.search {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;
  gap: 10px;
  background-color: #f7e600;
  padding: 8px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0 auto; /* Para centrar horizontalmente en el contenedor padre */
  max-width: 400px; /* Ajusta el ancho máximo de la barra de búsqueda */
}

.searchInput {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
}

.searchButton {
  padding: 12px 20px;
  background-color: #070707;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: #413f3f;
}
